<h1 class="search-heading">Search for books </h1>
<br />
<h2 class="search-heading"> Enter the Genre of the book you're searching for </h2>


<form asp-action="SearchBooks" method="POST">
    Genre: <input type="text" name="Genre" /><br />
    <input type="submit" value="Search" />

</form>