<div class="text-center">

    <div>____________________________________________________________________________________</div>
    <br />
    <br />
    <h1> Add a new BookClub</h1>
    <br />
    <div>____________________________________________________________________________________</div>
    <br />
    <br />

<form class="form-style" asp-action="Create" method="POST">

    <div class="form-row">

        <label for="name">Name of book club:</label>
        <input type="text" id="name" name="Name" />

    </div>

    <div class="form-row">


        <label for="user1">Name of user:</label>
        <input type="text" id="user1" name="User1" />

    </div>

    <div class="form-row">

        <label for="user2">Name of user:</label>
        <input type="text" id="user2" name="User2" />

    </div>

    <div class="form-row">

        <label for="user3">Name of user:</label>
        <input type="text" id="user3" name="User3" />

    </div>

    <div class="form-row">

        <label for="user4">Name of user:</label>
        <input type="text" id="user4" name="User4" />

    </div>

    <div class="form-row">

        <label for="user5">Name of user:</label>
        <input type="text" id="user5" name="User5" />

    </div>

    <div class="form-row">

        <input type="submit" value="Add book club" />

    </div>

</form>