@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

<div>___________________________________________</div>
<br />
<h1>Welcome to our Library!</h1>
<br />
<div>___________________________________________</div>
<br />
<h2> We have a lot of different books to offer. </h2>
<br />
<h2> Enjoy your stay! </h2>

<div>___________________________________________</div>

    <script src="Insert picture here"></script>
