

<h3 class="edit-user"> Search for a user </h3>
<h4 class="edit-user">Enter the name of the user you want to search for </h4>

<form asp-action="SearchUser" method="POST">
    Name: <input type="text" name="Name" /><br />
    LastName: <input type="text" name="LastName" /><br />
    <input type="submit" value="Search" />

</form>